<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Build Model</title>
        <link rel="stylesheet" type="text/css" href="..\static\css\choice.css">

    </head>
    <body>
        <div class="entete">
            <h2>buildAi</h2>
        </div>
        <p> bienvenu</p>
        <div class = "center" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
            <button class="buld">
                <h1>Creer votre modele de Deep Learning</h1>
                <p>
                    creer sans utiliser du code votre premier reseaux de neuronnes et testez le <br>dans un environnement dedie
                </p>
                <img src="..\static\image\bld.png" width="20", height="20">
                Build now
            </button><br><br><br>


            <button class="try"> 
                <h1>Essayer <strong>GPM</strong></h1>
                <p>
                    testez le modele de langage <strong style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">GPM</strong> jusqu'a la version 3 et familiarisez vous <br>
                    avec le fonctionnement des LLMs
                </p>
            </button>
        </div>

    </body>
    
</html>