<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Build Model</title>
        <link rel="stylesheet" type="text/css" href="..\static\css\index.css">

    </head>
    <body>
        <div class="entete">
            <h2>buildAi</h2>
        </div>
        <div class = "center" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
            <h1>Contruire Votre Modele avec GPM ou bien partez de Zero !</h1>
            <button class="try"> Essayer</button>
        </div>

    </body>
    
</html>