<!DOCTYPE html>
<html>
    <title>
        <meta charset="UTF-8">
        <title>connexion</title>
        <link rel="stylesheet" type="text/css" href="..\static\css\style_login.css">

    </title>
    <body>
        <div class="log" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
            <label for="name">name </label><br>
            <input id="" type="text" size=""><br><br>
            <label for="pwd">password</label><br>
            <input id="" type="password"><br><br>
            <button>Valider</button>
            
        </div>
    </body>
</html>